body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #023E8A;
    color: #0077B6;
}

.app-container {
    margin: 44px;
    text-align: center;
}

.input-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 55px;
    left: 0;
    right: 0;
    padding: 0 44px;
}

.title {
    font-size: 32px;
    font-weight: 600;

}

.inputEl {
    position: relative;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
    font-family: inherit;
    border: none;
    height: 66px;
    border-radius: 60px;
    font-size: 45px;
    font-weight: 100;
    padding: 0 15px; /* Horizontal padding only */


}

.inputEl::placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    /* padding: 0 40px;
    background-color: antiquewhite; */


}


.submitBtn {
    font-family: inherit;
    height: 66px;
    border-radius: 60px;
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #0077B6 ;
    color:antiquewhite;
    margin-top: 14px;
}

.app-result {
    font-size: 160px;
    font-weight: 800;

}

.disclaimer {
    margin: 0;
    margin-top: 14px;
    font-size: 10px;
}